# Local Environment Variables (copy to .env.local)
# DO NOT commit .env.local to git

MONGODB_USER=petarjovanchevic_db_user
MONGODB_PASSWORD=u9UYQWJCIQ1jplL6
MONGODB_HOST=isummonpotofgreed.yu8phoe.mongodb.net
MONGODB_DATABASE=card_information
MONGODB_COLLECTION=ygoprodeck_db
MONGODB_APPNAME=isummonpotofgreed
